{{define "component/settingListItem"}}
<a-list-item>
    <a-row :gutter="20" type="flex" align="middle">
        <a-col :xs="24" :lg="24" :xl="12">
            <a-list-item-meta :title="title" :description="desc"/>
        </a-col>
        <a-col :xs="24" :lg="24" :xl="12">
            <template v-if="type === 'text'">
                <a-input :value="value" :aria-label="title" @input="emitInput"></a-input>
            </template>
            <template v-else-if="type === 'number'">
                <a-input type="number" :value="value" :aria-label="title"
                         @input="emitInput"></a-input>
            </template>
            <template v-else-if="type === 'textarea'">
                <a-textarea :value="value" :aria-label="title" @input="emitInput" :auto-size="{ minRows: 10, maxRows: 10 }"></a-textarea>
            </template>
        </a-col>
    </a-row>
</a-list-item>
{{end}}

{{define "component/setting"}}
<script>
    Vue.component('setting-list-item', {
        props: ["type", "title", "desc", "value"],
        template: `{{template "component/settingListItem"}}`,
        methods: {
            emitInput(payload) {
                const rawValue = payload && payload.target ? payload.target.value : payload;
                const value = this.type === 'number' && rawValue !== '' ? Number(rawValue) : rawValue;
                this.$emit('input', value);
                this.$emit('changed');
            },
        },
    });
</script>
{{end}}
